/* Pollutant Section */
.pollutant-title {
  font-size: 1.5rem;
  font-weight: medium;
  margin-bottom: 30px;
}

.pollutant-content {
  font-size: large;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* left side: text */
.pollutant-text {
  flex: 1;
  /* padding-right: 10px; */
}

/* right side: image */
.pollutant-image {
  flex-basis: 35%;
  margin-right: 100px;
}

.pollutant-image img {
  width: 100%;
  height: auto;
}

/* page title */
.page-title {
  font-weight: medium;
  font-size: xx-large;
  padding: 30px 30px 0px;
}

/* adding background color to individual paragraphs */
.first-paragraph {
  background-color: #dff2f2;
  border-radius: 15px;
  padding: 10px;
  padding-inline: 30px;
  margin-bottom: 20px;
  margin-right: 100px;

}

.second-paragraph {
  background-color: #dff2f2;
  border-radius: 15px;
  padding: 10px;
  padding-inline: 30px;
  margin-bottom: 20px;
  margin-right: 100px;
}

.third-paragraph {
  background-color: #dff2f2;
  border-radius: 15px;
  padding: 10px;
  padding-inline: 30px;
  margin-bottom: 20px;
  margin-right: 100px;
}